<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Backbone Contact Manager </title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/major.css">

    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="bower_components/backbone/backbone.js" type="text/javascript"></script>
    <script src="bower_components/backbone.localstorage/backbone.localstorage-min.js" type="text/javascript"></script>

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <label class="navbar-brand">Backbone Contact Manager</label>
        </nav>

        <div id="directory" class="row"></div>

        <!-- UNDERSCORE TEMPLATES -->
        <script type="text/template" id="contactTemplate">
            <div class="col-lg-3">
                <div class="contact bottom-buffer">
                    <div class="contact-header">
                    </div>
                    <div>
                        <img src="<%= photo %>" class="contact-image img-circle">
                    </div>
                    <div style="text-align:center; margin-top:3%;">
                        <h3>"<%= name %>"</h3>
                        <h4>"<%= group %>"</h4>
                        <br>
                        <span class="glyphicon glyphicon-home"></span>
                        <label>"
                            <%=a ddress %>"</label>
                        <br>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <label>"
                            <%=e mail %>"</label>
                        <br>
                        <span class="glyphicon glyphicon-earphone"></span>
                        <label>"
                            <%=p hone %>"</label>
                    </div>
                </div>
            </div>
        </script>

        <script src="js/models/contact.js" type="text/javascript"></script>
        <script src="js/collections/directory.js" type="text/javascript"></script>
        <script src="js/views/contactview.js" type="text/javascript"></script>
        <!-- <script src="js/views/directoryview.js" type="text/javascript"></script> -->
</body>

</html>
