.contact {
    width: 250px;
    height: 320px;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: grey;
    background: rgba(226, 226, 226, 1);
    background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(50%, rgba(219, 219, 219, 1)), color-stop(51%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
    background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
    background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
    background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid grey;
    -webkit-box-shadow: 10px 10px 33px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 33px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 33px -5px rgba(0, 0, 0, 0.75);
}
.contact-header {
    background-color: #1E23B7;
    height: 15%;
    dislay: block;
}
.contact-image {
    border: solid;
    border-width: 2px;
    border-color: white;
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    box-shadow: -1px 10px 5px -5px rgba(0, 0, 0, 0.75);
}
.contact-info {
    text-align: center;
    margin-top: 3%;
}
.glyphicon {
    padding-right: 8px;
}
.bottom-buffer {
    margin-bottom: 50px;
}
label {
    display: inline;
}
h4 {
    color: grey;
}
/*
.form{
	width:100%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

paper-input {
	width: 40%;
}

.address {
	width:40%;
}

paper-button.success{
  color: green;
}

paper-button.cancel{
	color: red;
}
*/
